body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: auto;
    padding-left: 8rem;
    padding-right: 8rem;
    width: 1024px;
    /* font-family: ui-sans-serif, system-ui, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji; */
    font-family: Inter Variable, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    background-color: #151719;
    background-image: url(/images/nnnoise.svg);
}

.main-page {
    display: flex;
    flex-direction: column;
}

#blogs-page {
    margin: auto;
    max-width: 85ch;
}

a {
    text-decoration: none;
    color: #e8eef2;
}

a hr {
    margin-top: 1.65rem;
}

.header {
    padding: 0 24px;
    height: 100px;
    left: 0;
    right: 0;
    position: fixed;
    justify-content: space-between;
    display: flex;
    z-index: 100;
    flex: 1;
}

#header-blur {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: calc(100% + 40px);
    left: -40px;
    box-shadow: 0 0 #000, 0 0 #000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    z-index: -10;
}

.inside-header{
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    display: flex;
    flex: 0.65;
}

.left-nav {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 650;
    color: #e8eef2;
}

.right-nav {
    margin-left: 1.5rem;
    color: #e8eef2;
    display:inline-flex;
    align-items: center;
}

.text-nav {
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 650;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

main {
    flex-grow: 1;
}

.empty-top {
    min-height: 148px;
}

header p{
    color: #e8eef2;
    font-weight: 500;
}

h1 {
    font-weight: 800;
    color: #e8eef2;
    margin-top: 0;
    font-size: 2.25em;
    margin-bottom: 0;
    line-height: 1.1111111;
}

.title {
    font-weight: 500;
    line-height:1em;
    font-size: larger;
}

.summary {
    color: #acacac;
    line-height:1em;
    font-size: larger;
}

h2 {
    color: #e8eef2;
}

hr {
    color: #e8eef2;
}

p {
    margin: .5rem 0;
    color: #e8eef2;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 64px 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.post-item {
    justify-content: space-between;
    display: flex;
}

.footer {
    margin-top: 4.3rem;
}

.footer hr {
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.footer button {
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: rgb(30, 41, 59);
    color: #e8eef2;
}

.footerbutton {
    color: #e8eef2;
    padding: .3rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 1.75rem 0;
    display: flex;
    justify-content: center;
}

#pagi-nav {
    padding: 1rem 0 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#pagi-nav button {
    margin: 0 14px;
    background-color: #151719;
    color: #e8eef2;
    font-weight: bolder;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 3px;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#pagi-nav .active {
    border-bottom-color: rgba(238, 240, 244, 1);
    background-color: #1a1f22;
}

#pagi-nav .inactive {
    border-bottom-color: transparent;
}

#pagi-nav .inactive:hover {
    border-bottom-color: rgba(238, 240, 244, 1);
    transition: .3s;
}

