main #Introduction {
    color:#4c3d6d;
    font-size: 2em;
    background: url(../images/fleck-white.png), 
    linear-gradient(
        to top right,
        #e2718d 0%,
        #e2718d 50%,
        #71e2a6 50%,
        #71e2a6 100%
    );
    height: 530px;
    padding: 80px;
    padding-bottom: 17px;
}

#Introduction img {
    width: 250px;
    height: 250px;
    position: relative;
    float:right;
    padding-right: 85px;
    padding-top: 115px;
}

h1 {
    display: inline;
    position: relative;
    top: 100px;
    left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3.5em;
    font-weight: 900;
    letter-spacing: -0.0416666667rem;
    line-height: 1;
    margin: 0 0 0.6666666667rem;
    padding-top: 0.6666666667rem;
}

h2 {
    text-decoration: underline;
    top: 100px;
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 0;
}


#h2intro {
    position: relative;
    left: 30px;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 0;
}

p {
    font: weight 500px;
    line-height: 2;
    color: white;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div {
    display: block;
}

main .font{
    font-family: 'Fira Code', monospace;
}

main {
    background-image: url(../images/fleck-white.png), initial;
    background-position-x: initial, initial, initial;
    background-position-y: initial, initial, initial;
    background-size: initial, initial, initial;
    background-repeat: initial, initial, initial;
    background-attachment: initial, initial, initial;
    background-origin: initial, initial, initial;
    background-clip: initial, initial, initial;
    background-size: auto, 100vw 100vw, auto;
    background-repeat: repeat, no-repeat, repeat;
    background-position: center center, top right, center;
    font-size: 1em;
    line-height: 1.5;
    padding: 1.3333333333rem;
}

body {
    /* background: #e2718d; */
    background: url(../images/fleck-white.png), #e2718d;
    background-image: url(../images/fleck-white.png), initial;
    background-position-x: initial, initial, initial;
    background-position-y: initial, initial, initial;
    background-size: initial, initial, initial;
    background-repeat: initial, initial, initial;
    background-attachment: initial, initial, initial;
    background-origin: initial, initial, initial;
    background-clip: initial, initial, initial;
    background-color: rgb(226, 113, 141);
    background-size: auto, 100vw 100vw, auto;
    background-repeat: repeat, no-repeat, repeat;
    background-position: center center, top right, center;
    font-size: 1em;
    line-height: 1.5;
    padding: 1.3333333333rem;
    
    margin: 0;
    display: block;
    padding: 32px;
}

main #About {
    color: white;
    background: #e2718d;
    background-image: url(../images/fleck-white.png);
    padding: 32px;
    height: 685px;
    padding-bottom: 150px;
}

main #Subjects {
    height: 600px;
    color: white;
    background: #71e2a6;
    background-image: url(../images/fleck-white.png);
    padding: 32px;
}

#Subjects h2{
    color: #4c3d6d;
}

main #Projects {
    color: white;
    padding: 32px;
    background: linear-gradient(
        to top left,
        #e2718d 0%,
        #e2718d 50%,
        #71e2a6 50%,
        #71e2a6 100%
    );
    background-image: url(../images/fleck-white.png);
}

.imgcontainer {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display:flex;

}

.column {
    width: 400px;
    height: 261px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: -6px 6px 20px #00000070;
    transition: .3s linear;
}

.column img {
    width: 100%;
}

.column:not(:first-child) {
    margin-left: -50px;
}

.column:hover {
    transform: translateY(-24px);
}

.column:hover ~ .column{
    transform: translateX(60px);
}

.sjtext {
    font-size: 27px;
}

.sjboxes {
    padding: 0.5rem 0.75rem;
    background-color: #4c3d6d;
    background-blend-mode: soft-light;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    text-align: left;
    border-radius: 0.5rem;
    color: white;    
    margin: 5px;
    opacity: 0.9;
    transition: .2s linear;
}

.sjboxes:hover {
    opacity: 1;
}

.SJS {
    margin: auto;
}

.Role {
    display: flex;
    align-content: center;
    justify-content: center;
}

.rlboxes {
    padding: 0.5rem 0.75rem;
    background-color: #4c3d6d;
    background-blend-mode: soft-light;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    text-align: left;
    border-radius: 0.5rem;
    color: white;    
    margin: 5px;
    opacity: 0.9;
    transition: .2s linear;
}

.rltext {
    font-size: 15px;
}

.rlboxes:hover {
    opacity: 1;
}

.leftrole {
    padding-left: 3px;
}

.blurtext {
    width: 565px;
    filter: blur(10px);   
}

.blurtext:hover {
    filter:blur(0);
}

.a_link {
    text-shadow: -6px 6px 20px #00000070;
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: .3s;
    z-index: 1;
}

.a_link:before {
    background: #71e2a6;
    left: 5%;
    transform: translateY(4px);
    transition: .3s linear;
    box-shadow: -6px 6px 100px #00000070;;
}

.a_link:hover:before {
    background-color: #4c3d6d;
    transform: translateY(0);
}

.a_link:before, .a_link:after {
    bottom: 5%;
    content: "";
    position: absolute;
    top: 5%;
    transition: .3s;
    height: 80%;
    width: 47%;
    z-index: -1;
}

.a_link:after {
    box-shadow: -6px 6px 100px #00000070;;
    background: #e9b921;
    left: 49%;
    transform: translateY(-4px);
    transition: .3s linear;
}

.a_link:hover::after {
    background-color: #4c3d6d;
    transform: translateY(0);
}