body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: auto;
    padding-left: 8rem;
    padding-right: 8rem;
    width: 1024px;
    /* font-family: ui-sans-serif, system-ui, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji; */
    font-family: Inter Variable, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    background-color: #151719;
    background-image: url(/images/nnnoise.svg);
}

footer {
    padding: 1.75rem 0;
    display: flex;
    justify-content: center;
}

.main-page {
    display: flex;
    flex-direction: column;
}

a {
    color: #e8eef2;
    text-decoration: none;
}

a:active {
    color: #e8eef2;
}

.header {
    padding: 0 24px;
    height: 100px;
    left: 0;
    right: 0;
    position: fixed;
    justify-content: space-between;
    display: flex;
    z-index: 100;
    flex: 1;
}

.blogtitle, .projtitle {
    /* box-shadow: -5.5px 0 0 #60a5fa; */
    /* padding: 0.1px 30px 0px 30px; */
    padding: 0.1px 0px 0px 0px;
    margin: 19.2px 0px 19.2px 0px;
}

.projtitle {
    margin-top: 1.7rem;
}

#header-blur {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: calc(100% + 40px);
    left: -40px;
    box-shadow: 0 0 #000, 0 0 #000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    z-index: -10;
}

.inside-header{
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    display: flex;
    flex: 0.65;
}

.left-nav {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 650;
    color: #e8eef2;
}

.right-nav {
    margin-left: 1.5rem;
    color: #e8eef2;
    display:inline-flex;
    align-items: center;
}

.text-nav {
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 650;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

main {
    flex-grow: 1;
}

.PFP {
    width: 144px;
    height: 144px;
    margin-bottom: 0.5rem;
    border-radius: 9999px;
}

.PFP-name {
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #e8eef2;
    margin: 0;
}

.PFP-line {
    color: rgba(238, 240, 244, 0.7);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0;
}

.home-page {
    display: block;
}

.PF {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.empty-top {
    min-height: 148px;
}

.PFP-contact {
    margin-top: .25rem;
}

.contacts {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.contacts li {
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: 1.5rem;
    transition: 150ms;
    opacity: 0.55;
}

.contacts li:hover {
    color: #e8eef2;
    transform: translateY(-5px);
    opacity: 1;
    transition: 0.3s;
}

.blogs-block-text {
    margin-bottom: 2.5rem;
    color: #e8eef2;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    display: flex;
    /* justify-content: space-between; */
}

.heading {
    display: flex;
    flex-direction: column;
    line-height: 3.3rem;
}

.subheading {
  font-size: 2.8rem;
  font-weight: bolder;
  letter-spacing: 0.05em;
}

.mainheading {
  font-size: 4.16rem;
  font-weight: bold;
}

.line {
    flex-grow: 1;
    height: 1.2px;
    background-color: white;
    margin-top: 5.4rem;
    margin-left: 1.4rem;
}

.projline {
    flex-grow: 1;
    height: 1.2px;
    background-color: white;
    margin-top: 2.15rem;
    margin-right: 1.4rem;
}

#blogs-posts-cards {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 1rem;
    justify-content: center;
}

#projects-posts-cards {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 1rem;
    justify-content: center;
}

.card, .empty {
    background-color: #151719;
    color: #e8eef2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #383d42;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.card:hover {
    /* box-shadow: 0 4px 8px 0 rgba(73, 9, 162, 0.2), 0 6px 20px 0 rgba(73, 9, 162, 0.19); */
    background-color: #1a1f22;
}

hr {
    color: #e8eef2;
}

.content {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.banner {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.card {
    height: 376px;
}

.banner {
    background-size: cover;
}

.card h4 {
    margin: 0;
}

.card h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

.date {
    color: rgba(238, 240, 244, 0.64);
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .3rem;
    padding-bottom: .7rem;
    font-weight: 300;
}

.summary {
    font-style: italic;
    font-weight: 400;
}