a {
    text-decoration: none;
}

.header {
    margin-left: 24px;
    margin-right: 24px;
    left: 0;
    right: 0;
    position: fixed;
    justify-content: space-between;
    display: flex;
    flex: 1;
}

.inside-header{
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex: 0.65;
}

.left-nav {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 650;
    color: white;
}

.right-nav {
    margin-left: 1.5rem;
    color: white;
    display:inline-flex;
    align-items: center;
}

.text-nav {
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 650;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

body {
    font-family: ui-sans-serif, system-ui, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    background-color: rgb(30, 41, 59);
}

main {
    display: block;
    flex-grow: 1;
}

.PFP {
    width: 144px;
    height: 144px;
    margin-bottom: 0.5rem;
    border-radius: 9999px;
}

.PFP-name {
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: white;
    margin: 0;
}

.PFP-line {
    color: rgb(148, 163, 184);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0;
}

.home-page {
    display: block;
}

.PF {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.empty-top {
    min-height: 148px;
}

.PFP-contact {
    margin-top: .25rem;
}

.contacts {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    left: 850px;
    top: 507px;
    width: 220px;
}

.contacts li {
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: 1.5rem;
}